

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif ;
  text-decoration: none;
}

body {
  background: linear-gradient(90deg, #afa9e8, #5bdbbc);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-wrapper {
  width: 320px;  
  text-align: center;
  border-radius: 08px;
  background-color: #fff;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 0 14px;
}
.card-header {
    background: #0f3a62;
    padding: 15px 20px;
  }
  
  .pic {
    display: inline-block;
    padding: 05px;
  }
  
  .pic img {
    border-radius: 50%;
    display: block;    
  }
  
  .name {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin: 05px 0px;
  }
  
  .occupation {
    font-size: 17px;
    color: #8df3a8;
    font-weight: 400;
  }
  .description{
    color:#8df3a8;
    font-size: 14px;
    padding: 10px 0px;
  }
  .contact-info{  
    margin-top: 10px;  
    line-height: 20px;
    font-size: 15px;
  }
  .contact-info a{
    color: #fff;
    font-size: 13px;
  }

  .buttons .features .follow-hire {
    display: flex;    
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
  }


 .follow-hire {
    display: flex;    
    align-items: center;
    justify-content: space-between;
    margin: 10px 5px;
  }
  .features ul {
    display: flex;
  }
  
  .features ul li {
    margin: 0px 25px;
    height: 20px;
    width: 20px;
    display: flex;
    cursor: pointer;
    color: #fff;
    list-style-type: none;
    border-radius: 50%;
    align-items: center;
    justify-content: center;   
    transition: all 0.3s ease;
  }

  ul li:hover {
    background: #555;
 }
  .ctn-btn {
    background: #32a4e5;
    display: inline-block;
    padding: 07px 20px;
    color: #ffffff;
    /* border: 2px solid #5372f0; */
    border-radius: 5px;
    /* margin-top: 10px; */
    transition: 0.3s linear;
   }

    
  .card-footer {    
    background-color:#fff;
    align-items:center;
    padding: 10px 5px;
   }
  .numbers {
    display: flex;
    align-items: center;
    }
  .item{   
    flex: 1;
    text-transform: uppercase;
    font-size: 10px;
    color: #5372f8;
    }
    
    .item span{
        display: block;
        color: #333;
        font-size: 20px;
    }
    .border{
        width: 1px;
        height: 30px;
        background-color: #b8b2b2;
    }

